
.navbar-brand {
  padding: 10px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}
@import url('https://fonts.googleapis.com/css?family=Exo+2');
.navbar{
  background-color: white;
  border-bottom: 5px solid white;
  height: 80px;
  margin-bottom: 0px;

}
.navbar .navbar-brand {
  height: 80px;
}

.navbar .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Exo 2';
  font-size: 20px;
  margin-left: 0px;

}
.navbar .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}


body {
  font-family: "Lato";
}
